<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="style/css/index.css">
    <meta charset="ISO-8859-1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("button").click(function(){
            $.get("test", function(data, status){
                $("p").append(JSON.stringify(data)).append(status);
            });
        });
    });
    </script>
</head>
<body>
<p> </p>
<button>Send an HTTP GET request to a page and get the result back</button>

<form name="welcomeForm" action="addItem" method="POST">
    <h2 th:text="'Hello, ' + ${session.authuser}">Hello, anonymous user</h2>
    <h3>make choice</h3>
    Product: <select name="product">
    <option th:each="item : ${session.items}" th:text="${item.itemName}"></option>
</select>
    <input type="submit" value="Add" />
    <input type="submit" formaction="order" value="Order" />
    <input type="submit" formaction="logout" value="Log Out" />
</form>
<p>Some</p>
<ul>
    <li th:each="selecteditem : ${session.selecteditems}" th:text="${selecteditem}" style="list-style-type: none"></li>
</ul>
</body>
</html>