<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <context:annotation-config/>

    <bean id="horse1" class="main.java.Horse.java">
        <property name="name" value="Ruby"/>
        <property name="age" value="2"/>
        <property name="color" value="black"/>
    </bean>

    <bean id="horse2" class="main.java.Horse.java">
        <property name="name" value="Cady"/>
        <property name="age" value="3"/>
        <property name="color" value="white"/>
    </bean>

    <bean id="horse3" class="main.java.Horse.java">
        <property name="name" value="Doraty"/>
        <property name="age" value="1"/>
        <property name="color" value="brown"/>
    </bean>

    <bean id="rider1" class="main.java.Rider.java">
        <property name="name" value="JD"/>
        <property name="age" value="22"/>
        <property name="horse" value="horse1"/>
    </bean>

    <bean id="rider2" class="main.java.Rider.java">
        <property name="name" value="Banksy"/>
        <property name="age" value="25"/>
        <property name="horse" value="horse2"/>
    </bean>

    <bean id="rider3" class="main.java.Rider.java">
        <property name="name" value="Dexter"/>
        <property name="age" value="25"/>
        <property name="horse" value="horse3"/>
    </bean>

</beans>